html {
    font-family: sans-serif;
}

.error {
    border: thin solid black;
    background-color: #ff9999;
    padding: 0.5em;
}

.news-date, .comment-date {
    color: gray;
}

.race-info dt, .commenter {
    font-weight: bold;
}

.notification {
    border: thin solid black;
    background-color: #99ff99;
    padding: 0.5em;
}
