html {
    font-family: sans-serif;
}

body {
    overflow: hidden;
    border: 1px solid black;
}

.error {
    color: red;
}

<<<<<<< HEAD
.news, .groups, .group-invitations {
    padding: 0;
}

.news li, .groups li, .group-invitations li {
    display: block;
    padding: 0;
    margin: 0;
=======
.news, .groups {
}

.news li, .groups li {
>>>>>>> 211e7dd6fcc0ad46c618e014a5dd452a617e7a1a
}

.group-invitations li {
    border: 1px solid gray;
    padding-bottom: 5px;
    padding-top: 5px;
}

.news-date {
    color: gray;
}

.race-info dt {
    font-weight: bold;
}

.notification {
    border: thin solid black;
    background-color: #99ff99;
    padding: 0.5em;
}
